@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab);#map-container {
  height: 300px;
  width: 770px;
}

/* Full Page Carousel itself*/

.carousel {
  height: 100%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Navbar animation */

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1C2331;
}

/* Footer color for sake of consistency with Navbar */

.page-footer {
  background-color: #1C2331;
}

/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */

html,
body,
.view {
  height: 100%;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

.bg,
.contato-bg,
.production-bg {
  /* Full height */
  height: 40%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  background-image: url("/img/bg.jpg");
}

.contato-bg {
  background-image: url("/img/mailbox3-opt.jpg");
}

.production-bg {
  background-image: url("/img/production-opt.jpg");
}

.footer-denisdj {
  padding: 1em;
}

/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }

  #map-container {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    background-color: #1C2331;
  }

  #map-container {
    width: 80%;
  }
}

