
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//style.css
@import "style";


.contato-bg{
  /* The image used */
  background-image: url("/img/contato.jpg");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

//Medias
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; }

  #map-container{
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    background-color: #1C2331; }

  #map-container{
    width: 80%;
  }
}
